*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #D7E9F7;


}
/* ---------------Profile card------------ */
.card-text{
    text-align: left;
    padding-bottom: 2px;
    line-height: 0.5rem;
}

.card{
    padding: 1px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.image{
    width: 50%;
    border: 4px solid transparent;
    background: linear-gradient(50deg, #0fd4aa 10%, #0e6c97 100%);
}

.btn-role{
    cursor: default;
    background-color: #FF5E78;
    color: #F6F6F6;
    border-radius: 10px;

}
hr {
    height: 1px;
    background-color: #000;
    border:1px solid black;
}


/* ---------Navbar------------ */

.bi{
    color: #fff;
}

.nav-link{
   color: #fff!important;
   
}

.nav-item:hover{
    background-color: #537EC5
}

/* ------------footer----------- */

.footer-icons{
    margin-left: 25px;
    color: #fff
}

.name{
    color: rgb(46, 123, 173);
}

.help-desk{
    position: relative;
    margin-left: 50%;
    background-color: #fff;
    color: #000;
    border-radius: 15px;
}


/* ------------media queries------------- */
@media (max-width: 400px) {
    .card-text{
        font-size: 10px;
    }


    .card-title {
        font-size: 15px;
    }
}

@media (max-width: 772px) {
    .card-text {
        text-align: left;
        padding-bottom: 2px;
        line-height: 1rem;
    }
}



